@media screen and (max-width:874px){
    nav{
        flex-direction: column;
        justify-content: space-around ;
    }
    .logo{
        margin: 10px 0px;
    }
    .login{
        margin: 10px 0px;
    }
    
    .search {
        width: 70vw;
    }
    .categories{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .categories IMG{
        width:10vh;
    }
}
